<h4 class="display-4"><%= title %></h4>


<%= simple_form_for [:admin, @car], html: { class: 'form-control', 'data-turbo': false } do |f| %>
  <%= f.input :name %>
  <%= f.input :condition, collection: @conditions %>
  <%= f.input :dealership_id, collection: @dealerships %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>
